.contenedor{
    background-color: white;
    border: 1px solid black;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.caja{
    background-color: red;
    height: 100px;
    width: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item{
    background-color: blue;
    height: 100px;
    width: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.span{
    background-color: green;
    height: 100px;
    width: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
