nav {
    display: flex;
    color: white;
    justify-content: right;
    margin-right: 5%;
} 

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li{
    flex-grow: 1;
    }

nav ul li a{
    color: white;
    text-decoration: none;
    padding: 3px 6px;
    display: block;
}

nav ul li a:hover{
    border-bottom: #ccc 1px solid;
}
.activo{
    border-bottom: #ccc 1px solid;
}